* {
  font-size: 50px;
}

#cool {
  --multiplier: 0.24;
  --pad: 30;
  --slant: 20;
  /* --my-background: (ctx, geom) => {
    let multiplier = var(--multiplier);
    let red = Math.random()*255
    let green = Math.random()*255
    let blue = Math.random()*255
    const rgb = `rgb(${red},${green},${blue})`
    let pad = var(--pad);
    let slant = var(--slant);

    ctx.moveTo(0, 0);
    ctx.lineTo(pad + (geom.width - slant - pad) * multiplier, 0);
    ctx.lineTo(pad + (geom.width - slant - pad) * multiplier + slant, geom.height);
    ctx.lineTo(0, geom.height);
    ctx.fillStyle = rgb;
    ctx.fill();
  }; */
  background: paint(mybackground);
}